<ul>
    <li><a routerLink='translate'>Translate</a></li>
    <li><a routerLink='trackby'>TrackBy</a></li>
    <li><a routerLink='pipeable'>Pipeable</a></li>
    <li><a routerLink='mapping'>Mapping</a></li>
    <li><a routerLink='declarative'>Declarative Subscription</a></li>
    <li><a routerLink='chainingoperators'>Chaining Operators</a></li>
</ul>
<ul>
    <li><a routerLink='combination'>Combination</a></li>
    <li><a routerLink='creation'>Creation</a></li>
    <li><a routerLink='errorhandling'>ErrorHandling</a></li>
</ul>
<br>
<div>
    <router-outlet></router-outlet>
</div>