<h2>combineLatest</h2>
<p>This operator is best used when you have multiple,
  long-lived observables that rely on each other for some calculation or determination.
  Basic examples of this can be seen in example three,
  where events from multiple buttons are being combined to produce a count of each and an overall total,
  or a calculation of BMI from the RxJS documentation.</p>
<p>Be aware that combineLatest will not emit an initial value until each observable emits at least one value.
  This is the same behavior as withLatestFrom and can be a gotcha as there will be no output and no error
  but one (or more) of your inner observables is likely not functioning as intended,
  or a subscription is late.</p>
<p>Lastly, if you are working with observables that only emit one value,
  or you only require the last value of each before completion,
  forkJoin is likely a better option.</p>
<div>
  <button id='red'>Red</button>
  <button id='black'>Black</button>
</div>
<div>Red: <span id="redTotal"></span> </div>
<div>Black: <span id="blackTotal"></span> </div>
<div>Total: <span id="total"></span> </div>
<style>
  div {
    /* background-color: red; */
  }
</style>
<script>
  var i = 0;
</script>