<h3>debouncetime</h3>
<p>Discard emitted values that take less than the specified time between output.</p>
<p>This operator is popular in scenarios such as type-ahead where the rate of user input must be controlled!</p>

Debounce time: <input type="number" [(ngModel)]='debounceTimeVal'><br>
<button (click)="debounceTimeBasedOnInput()">Start debouncing based on time between input</button><br>
Input here: <input type="text" #inputTxt>
<hr>
<h4>Http Test</h4>
HTTP JSON URL:<input type="text" [(ngModel)]="httpurl">
<br>
<input type="text" #inputHttpJson>
<div>
    <p *ngFor="let post of inputHttpJson$|async">
        {{post.title}}
    </p>
</div>