<h3>from</h3>
<p>Turn an array, promise, or iterable into an observable</p>
<p>This operator can be used to convert a promise to an observable</p>
<p>For arrays and iterables, all contained values will be emitted as a sequence</p>
<p>This operator can also be used to emit a string as a sequence of characters</p>

<button (click)="fromArray()">Observable from array</button>&nbsp;
<button (click)="fromPromise()">Observable from promise</button>&nbsp;
<button (click)="fromCollection()">Observable from collection</button>&nbsp;
<button (click)="fromString()">Observable from string</button>&nbsp;